<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-bg">

  <div class="vertical-padding">

    <div class="ion-text-center">
      <h4>Juanito Perez</h4>
    </div>
    <div class="ion-text-center">
      <span class="text-muted ion-no-margin text-job">El de las tortas.</span>
    </div>

    <img src="https://image.flaticon.com/icons/svg/163/163801.svg" alt="" class="image-round border-danger margin-top">

    <br>

    <p class="ion-text-center text-profile">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus veritatis ut distinctio
    </p>
  
  </div>

  <ion-list lines="none" inset="true">
    <ion-list-header>
      <ion-label>Recent activity</ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/163/163801.svg" />
      </ion-avatar>
      <ion-label>
        <h2>Juanito vendio una torta</h2>
        <p>Hace 10 min.</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/163/163801.svg" />
      </ion-avatar>
      <ion-label>
        <h2>Juanito subio una foto</h2>
        <p>Hace 40 min.</p>
      </ion-label>
    </ion-item>
  
  </ion-list>

</ion-content>
