<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="vertical-padding">
  
    <div class="ion-text-center">
      <h4>Juanito Perez</h4>
    </div>
    <div class="ion-text-center">
      <span class="text-muted ion-no-margin text-job">El de las tortas.</span>
    </div>
  
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4" class="ion-no-padding position-relative">
          <ion-button fill="clear" class="button-vertical-align button-left">
            <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <img src="https://image.flaticon.com/icons/svg/163/163801.svg" alt="" class="image-round border-tertiary margin-top">
        </ion-col>
        <ion-col size="4" class="ion-no-padding position-relative">
          <ion-button fill="clear" class="button-vertical-align button-right">
            <ion-icon slot="icon-only" name="call"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </div>

  <ion-grid fixed class="border-bottom border-top">
    <ion-row class="ion-no-padding">
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">1.5</span> <br>
          <small>Post</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">10.5</span> <br>
          <small>Followers</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">1.3</span> <br>
          <small>Following</small>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="vertical-padding">
    <p class="ion-text-center text-profile">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus veritatis ut distinctio
    </p>
  </div>

  <div class="ion-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <strong class="text-tertiary">Website</strong> <br>
          <small class="text-muted">site.com</small>
        </ion-col>
        <ion-col size="6">
          <strong class="text-tertiary">Email</strong> <br>
          <small class="text-muted">juanito.perez@site.com</small>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <strong class="text-tertiary">Phone</strong> <br>
          <small class="text-muted">+52 1234567</small>
        </ion-col>
        <ion-col size="6">
          <strong class="text-tertiary">Location</strong> <br>
          <small class="text-muted">México</small>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <strong class="text-tertiary">Zip code</strong> <br>
          <small class="text-muted">111111</small>
        </ion-col>
        <ion-col size="6">
          <strong class="text-tertiary">Address</strong> <br>
          <small class="text-muted">Av. Siempre viva 123</small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" size="small">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
