<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="empty bg-secondary"></div>
  <div class="ion-text-center image-over-div">
    <img src="https://image.flaticon.com/icons/svg/163/163809.svg" alt="" class="image-round border-white">
  </div>

  <div class="ion-text-center">
    <h4>Ali Connor</h4>
    <p class="text-profile">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus veritatis ut distinctio
    </p>
    <ion-button color="secondary" size="small">
      Follow
    </ion-button>
  </div>

  <ion-grid fixed class="">
    <ion-row class="ion-no-padding">
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">1.5</span> <br>
          <small>Post</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">10.5</span> <br>
          <small>Followers</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">1.3</span> <br>
          <small>Following</small>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="">
    <ion-row class="ion-no-padding">
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">1.5</span> <br>
          <small>Post</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">10.5</span> <br>
          <small>Followers</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">1.3</span> <br>
          <small>Following</small>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding">
    <p class="text-profile">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis itaque natus illum deserunt eos ex voluptatibus,
      tempore veniam quaerat eligendi, sint ducimus sit assumenda explicabo impedit expedita suscipit voluptate odit?
    </p>
  </div>

</ion-content>
