<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-bg">

  <div class="bg-primary vertical-padding">
    
    <img src="https://image.flaticon.com/icons/svg/163/163801.svg" alt="" class="image-round">

    <div class="ion-text-center">
      <h4 class="text-white">Juanito Perez</h4>
    </div>
    <div class="ion-text-center">
      <span class="text-white text-job">El de las tortas.</span>
    </div>

  </div>

  <ion-grid fixed class="border-bottom bg-white">
    <ion-row class="ion-no-padding">
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">1.5</span> <br>
          <small>Post</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">10.5</span> <br>
          <small>Followers</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">1.3</span> <br>
          <small>Following</small>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="bg-white border-bottom-soft">
    <ion-row>
      <ion-col size="6">
        <div class="ion-text-left">
          <span class="text-bold">Photos</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="ion-text-right">
          <span class="text-bold">MORE ...</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      <ion-col size="4">
        <img src="https://image.shutterstock.com/image-vector/vector-laptop-personal-computer-flat-260nw-389965999.jpg" alt="">
      </ion-col>
      <ion-col size="4">
        <img src="https://image.shutterstock.com/image-vector/vector-laptop-personal-computer-flat-260nw-389965999.jpg" alt="">
      </ion-col>
      <ion-col size="4">
        <img src="https://image.shutterstock.com/image-vector/vector-laptop-personal-computer-flat-260nw-389965999.jpg" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card mode="ios">
    <ion-card-content class="ion-no-padding">
      <ion-list class="ion-no-padding" lines="none">
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/163/163801.svg" />
          </ion-avatar>
          <ion-label>
            <h2>Juanito Perez</h2>
            <p>Hace 29 min.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <img src="https://thepracticaldev.s3.amazonaws.com/i/8m2htjjpp31idwz8wnrz.jpg" alt="">
    <ion-card-content class="bg-white">
      Awesome content
    </ion-card-content>
  </ion-card>

</ion-content>
